ExpiresActive On
ExpiresByType image/gif       86400000
ExpiresByType image/png       86400000
ExpiresByType image/jpg       86400000
ExpiresByType image/jpeg      86400000
ExpiresByType text/html       86400000
ExpiresByType text/javascript 86400000
ExpiresByType text/plain      86400000
Header set X-Content-Type-Options nosniff
Strict-Transport-Security: max-age=63072000; includeSubDomains; preload
Header always append X-Frame-Options SAMEORIGIN

RewriteEngine on
#if requested resource isn't a file
# and isn't a directory
# then serve local error script 
RewriteCond %{REQUEST_FILENAME} !-f  
RewriteCond %{REQUEST_FILENAME} !-d  
RewriteRule .* 404.html [L] 